<h1 style="color:#0D8405;">My Cart</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Product_image</th>
    <th>Price</th>
    <th>Remove item</th>
  </tr>
<% @sum = 0 %> 
  <% @cart.each do |i|%>
    <% i.cart_items.each do |j| %>
    
    <tr>
      <td><%= j.product.name %></td>
      <td><%= image_tag j.product.avatars.attachments.last.variant(resize: "100x100") %></td>
      <td><%= j.product.price %></td>
     <td><%= link_to "Remove", cart_path(j),  method: :delete %></td>
    </tr>
   
      <% @sum +=  j.product.price %>
   
    <% end %>
  <% end %>
Total : <%= @sum %>
</table>