<% if user_signed_in?%>
  <%= link_to 'My cart', carts_url, class: "btn btn-primary" %>
<% end %>
<h1 style="color:#0853CF;"> Product List </h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Product Image</th>
    <th>Price</th>
    <th>Show Product</th>   
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td> 
      <td><%= image_tag product.avatars.attachments.last.variant(resize: "150x150") %></td>
      <td><%= product.price %></td> 
      <td><%= link_to 'show', product_path(product), class: "btn btn-info " %></td>        
    </tr>
  <% end %>  
</table>

